<template>
  <div>
    <span>Map Page</span>
    <map-area></map-area>
  </div>
</template>

<script lang="ts">
import MapArea from '@components/Map/MapArea';
import MapWrapper from '@components/Map/MapWrapper.js';

export default {
  metaInfo: {
    title: 'SeaWatch Cases DB',
  },
  components: {
    'map-area': MapArea
  }
};
</script>
