<template>
   <div id="mapArea">
      Map
   </div>
</template>

<script lang="ts" >

import MapWrapper from './MapWrapper.js';

export default {
  name: 'MapArea',
  data: function() {
    return {
      map_initialized: false,
    }
  },
  mounted:function(){
    this.$map = MapWrapper;
    this.$map.init('mapArea');
    this.$map.clickItem = function(itemId: String){
        // serverBus.$emit('itemId', itemId);
    }
    
  },
  created:function(){
    console.log('created');
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#mapArea{
    height:calc(100vh - 40px);
    margin-top: 40px;
}

.vehicle-marker{
  height: 16px!important;
  width: 16px!important;
  margin-left: 0!important;
  margin-top: 0!important;
}
</style>
